<app-create-content (createContentEvent)="addContent($event)"></app-create-content>
<div>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter your title">
  <button (click)="searchByTitle()">Search</button>
  <p [ngStyle]="{ color: searchResult ? 'green' : 'red' }">
    {{ searchMessage }}
  </p>
</div>
  
<h3>No Type</h3>
<app-content-card *ngFor="let content of contents | contentTypeFilter:''" [content] = "content">

</app-content-card>

<h3>Sports Cars</h3>
<app-content-card *ngFor="let content of contents | contentTypeFilter: 'Sports'" [content] = "content">

</app-content-card>

<h3>Regular Cars</h3>
<app-content-card *ngFor="let content of contents | contentTypeFilter: 'Car'" [content] = "content">
  
</app-content-card>
<div *ngFor="let item of contents.slice(-1)" style="text-align: center; border: 5px solid #240c0c;">
  <h1>{{item.id}}</h1>
  <h2>{{ item.title }}</h2>
  <h2>{{ item.description }}</h2>
  <h2>{{ item.creator }}</h2>

</div>